@import url("../../../common/css/reset.css");
@import url("../../../common/css/common.css");
@import url("../../../common/css/fonts.css");

.blogPost{
    height: 392px;
    width: 370px;
    border-radius: 4px;
    background-color: #fff;
    /* overflow: hidden; */
}

.blogPost__top {
    width: 370px;
    height: 204px;
    background: url("../../../common/css/images/blogPost_background.png") no-repeat center top;
}

.blogPost__content {
    height: 140px;
    width: 370px;
    background-color: #fff;
}

.content__avatar{
    width: 73px;
    height: 73px;
    background-image: url("../../../common/css/images/blogPost_avatar.png");
    border-radius: 50%;
    border-width: 7px;
    box-shadow: 0 0 0 8px #fff, 0 0 0 9px #d6d1cc;
    float:left;
    margin-top: 32px;
    margin-left: 28px;
}

.content__text{
    float: right;
    padding-top: 28px;
    width: 244px;
}

.content__text_name{
    font-size: 28px;
    color: #5c5146;
    text-align: left;
    line-height: 28px;
}

.content__text_description{
    font-size: 13px;
    color: #8e8071;
    text-align: left;
    padding-top: 11px;
    line-height: 18px;
}

.blogPost__footer {
    background-color: #fff;
    height: 48px;
    width: 370px;
}

.blogPost__footer_feedback{
    width: 370px;
    height:48px;
}

.footer__link{
    display: block;
    height: 48px;
    width: 123px;
    background-color: #f6f1ed;
    color: #8e8071;
    line-height: 48px;
    font-size: 16px;
    float:left;
    text-align: center;
    margin-right: 1px;
}

.footer__link:nth-child(2){
    width: 122px;
}

.footer__link:last-child{
     margin-right: 0;
}

.footer__link:hover{
    cursor:pointer;
    height:45px;
    border-bottom:3px solid #4daf7b;
    color:#e86741;
}

.footer__link:before{
    content:'';
    display:inline-block;
    height: 32px;
    width: 32px;
    position:relative;
    background: url('../../../common/css/images/spritesheet.png') no-repeat;
    top:8px;
    left:-5px;
}

.footer__link_review:before{
    background-position: 0 0px;
}

.footer__link_comment:before{
    background-position: -31px 0;
}

.footer__link_like:before{
    background-position: -63px 0;
}