@import url("../../../common/css/reset.css");
@import url("../../../common/css/common.css");
@import url("../../../common/css/fonts.css");

#navigation__wrapper{
	width: 305px;
	height: 174px;
	background-color: transporent;
	position: relative;
	
}
.navigation__list{
	width: 305px;
	height: 174px;
	text-transform: uppercase;	
}
.navigation__list a{
	text-decoration: none;
	color: #8E8071;
	cursor: pointer;
}
.navigation__list_profile{
	width: 178px;
	height: 174px;
	float: left;
	position: relative;
	margin-right: 1px;
}
.navigation__list_edit{
	width: 126px;
	height: 174px;
	float: left;
	position: relative;
}
.navigation__list_profileHeader, .navigation__list_editHeader{
	height: 66px;
	line-height: 66px;
	padding-left: 20px;
	cursor: pointer;
	background-color: #ffffff;
	color: #8E8071;
	font-size: 15px;
}
.navigation__list_profileHeader{
	width: 178px;
}
.navigation__list_editHeader{
	width: 126px;
}
ul.navigation__list_profileItems, ul.navigation__list_editItems{
	list-style: none;
}
ul.navigation__list_profileItems li, ul.navigation__list_editItems li{
	height: 36px;
	display: none;
	padding-left: 25px;
	line-height: 36px;
	background-color: #ffffff;
	font-size: 13px;
}
ul.navigation__list_profileItems li{
	width: 153px;
}
ul.navigation__list_editItems li{
	width: 101px;
}

ul.navigation__list_profileItems li:first-child, ul.navigation__list_editItems li:first-child{
	position: absolute;
	top: 66px;
}
ul.navigation__list_profileItems li:nth-child(2), ul.navigation__list_editItems li:nth-child(2){
	position: absolute;
	top: 102px;
}
ul.navigation__list_profileItems li:last-child, ul.navigation__list_editItems li:last-child{
	position: absolute;
	top: 138px;
}
.navigation__list input {
	display: none;
}
.navigation__list label {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}
div.navigation__list_profile input:checked + ul.navigation__list_profileItems li {
	display: inline-block; 
}
div.navigation__list_edit input:checked + ul.navigation__list_editItems li {
	display: inline-block; 
}
ul.navigation__list_profileItems li:hover {
	background-color: #f8f3f0;
	border-left: 4px solid #49a16f;
	width: 153px;
	padding-left: 21px;
}
ul.navigation__list_editItems li:hover {
	background-color: #f8f3f0;
	border-left: 4px solid #49a16f;
	width: 101px;
	padding-left: 21px;
}
.navigation__list_profileHeader {				
	border-radius: 6px 0 0 0;
	margin-right: 1px;
}
.navigation__list_editHeader {				
	border-radius: 0 6px 6px 0;
}
ul.navigation__list_profileItems li:last-child, ul.navigation__list_editItems li:last-child  {				
	border-radius: 0 0 6px 6px;
}
div.navigation__list_profileHeader span:before{
	content: "  ";
	display:inline-block;
	height: 32px;
	width: 32px;
	background-image: url(../../../common/css/images/spritesheet.png);
	background-position: -96px -32px;
	position: relative;
	bottom: -10px;
	margin-right: 6px;
}
div.navigation__list_editHeader span:before{
	content: "  ";
	display:inline-block;
	height: 32px;
	width: 32px;
	background-image: url(../../../common/css/images/spritesheet.png);
	background-position: 0px -64px;
	position: relative;
	bottom: -10px;
	margin-right: 9px;
}
div.navigation__list_profileHeader:hover, div.navigation__list_editHeader:hover {
    background-color: #f8f3f0;
	border-radius: 0 0 0 0;
	border-bottom: 4px solid #49a16f;
	height: 62px;
}
div.navigation__list_profileHeader:hover {
	border-radius: 6px 0 0 0;
}
div.navigation__list_editHeader:hover {
	border-radius: 0 6px 0 0;
}
div.navigation__list_edit input:checked + ul.navigation__list_editItems + .navigation__list_editHeader{
	border-radius: 0 6px 0 0;
}
