@import url(../../../common/css/fonts.css);
#Navigation_wrapper{
	width: 304px;
	height: 174px;
	background-color: transparent;
}
.NavigationList{
	font-family: 'Open Sans Bold', sans-serif;
	text-transform: uppercase;	
}
ul.NavigationList a{
	text-decoration: none;
	color: #8E8071;
}	
li.NavigationList_Edit, li.NavigationList_MyProfile{
	float: left;
}
li.NavigationList_Edit{
	width: 126px;
}
li.NavigationList_MyProfile{
	width: 178px;
}
ul.NavigationList_MyProfile_Items li:first-child, ul.NavigationList_Edit_Items li:first-child {
	display: block;
	font-size: 15px;
	background-color: white;
	cursor: pointer;
}
ul.NavigationList_MyProfile_Items li:first-child{
	border-radius: 6px 0 0 0;
}
ul.NavigationList_Edit_Items li:first-child {
	border-radius: 0 6px 6px 0;
}
ul.NavigationList_MyProfile_Items li:last-child{
	border-radius: 0 0 6px 6px;
}

ul.NavigationList_MyProfile_Items li:first-child:hover, ul.NavigationList_Edit_Items li:first-child:hover{
	background-color: #f8f3f0;
	border-bottom: 4px solid #49a16f;
	height: 62px;
}
ul.NavigationList_MyProfile_Items li:nth-child(n+2){
	line-height: 36px;
	padding-left: 25px;
	font-size: 13px;
	background-color: white;
	cursor: pointer;
}
ul.NavigationList_MyProfile_Items li:nth-child(n+2):hover {
	background-color: #f8f3f0;
	border-left: 4px solid #49a16f;
	width: 153px;
	padding-left: 21px;
}

.NavigationList_MyProfile_ItemWrapper{
	width: 178px;
	height: 66px;
	display: table-cell;
	vertical-align: middle;
}
.NavigationList_MyProfile_ItemFilling{
	width: 150px;
	height: 28px;
	line-height: 28px;
	margin: 0 auto;
}
.NavigationList_MyProfile_ItemPicture{
	width: 30px;
	height: 28px;
	background-image: url(../../../common/sprite/spritesheet.png);
	float: left;
	margin-right: 8px;
	background-position: -5px -74px;
}
.NavigationList_Edit_ItemWrapper{
	width: 126px;
	height: 66px;
	display: table-cell;
	vertical-align: middle;
}

.NavigationList_Edit_ItemFilling{
	width: 100px;
	height: 28px;
	line-height: 28px;
	margin: 0 auto;
}
.NavigationList_Edit_ItemPicture{
	width: 30px;
	height: 28px;
	background-image: url(../../../common/sprite/spritesheet.png);
	float: left;
	margin-right: 8px;
	background-position: -35px -74px;
}