.widgetStatistics {
    width: 100%;
    color: #8d7f70;
    cursor: default;
    position: relative;
}

.widgetStatistics__helper {
    height: 100%;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
    border-right: 1px solid #fdfdfd;
    border-left: 1px solid #fdfdfd;
    border-radius: 6px;
    z-index: -1;
}

.widgetTabs,
.widgetLargestSize,
.widgetActions {
    display: table;
    width: 100%;
}

.widgetTabs__item,
.widgetLargestSize__item,
.widgetActions__item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.widgetTabs {
    height: 46px;
    color: #fdfdfd;
    background-color: transparent;
    text-transform: capitalize;
}

.widgetTabs__item {
    border: 1px solid #fdfdfd;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.widgetTabs__item_active {
    color: #8d7f70;
    background-color: #fdfdfd;
}

.widgetTabs__itemSeparator {
    width: 1px;
}

.widgetChart {
    height: 314px;
    padding-top: 38px;
    background-color: #fdfdfd;
}

.widgetChart_leftActive {
    border-radius: 0 5px 0 0;
}

.widgetChart_rightActive {
    border-radius: 5px 0 0 0;
}

.widgetChart__caption {
    text-align: center;
    word-spacing: 2px;
    text-transform: uppercase;
}

.widgetChart__chart {
    width: 100%;
    height: 270px;
    margin-top: 19px;
}

.widgetLargestSize {
    height: 87px;
    background-color: #f4eeea;
}

.widgetLargestSize__item {
    width: 33%;
    border-right: 1px solid #fdfdfd;
    border-left: 1px solid #fdfdfd;
    position: relative;
    font-size: 29px;
}

.widgetLargestSize__item:first-child,
.widgetLargestSize__item:last-child {
    border: none;
}

.widgetLargestSize__itemTitle {
    font-size: 16px;
    color: #9f9a95;
    margin-bottom: 3px;
    margin-top: -2px;
}

.widgetLargestSize__itemLed {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    background-color: #4cae7a;
}

.widgetLargestSize__itemLed_green {
    background-color: #4cae7a;
}

.widgetLargestSize__itemLed_red {
    background-color: #e35d3a;
}

.widgetLargestSize__itemLed_yellow {
    background-color: #e9c65d;
}

.widgetLargestSize__itemLed_gray {
    background-color: #f2ebe5;
}

.widgetActions {
    height: 79px;
    color: #fdfdfd;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #766a5d;
    border-radius: 0 0 5px 5px;
}

.widgetActions:hover {
}

.widgetActions__item {
    width: 33%;
    cursor: pointer;
}

.widgetActions__item:hover {
    background-color: #63574b;
}

.widgetActions__item:first-child:hover {
    border-radius: 0 0 0 5px;
}

.widgetActions__item:last-child:hover {
    border-radius: 0 0 5px 0;
}

.widgetActions__item:before {
    content: '';
    display: block;
    background: url(../../../common/css/images/spritesheet.png) no-repeat;
    height: 32px;
    width: 32px;
    left: calc(50% - 16px);
    position: relative;
}

.widgetActions__item_icon_upload:before {
    background-position: -31px -99px;
}

.widgetActions__item_icon_share:before {
    background-position: -65px -99px;
}

.widgetActions__item_icon_backup:before {
    background-position: -98px -100px;
}

.widgetActions__item_longText {
    font-size: 10px;
}

.icon {
    background: url(../../../common/css/images/spritesheet.png) no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.icon.upload {
    background-position: -31px -98px;
}

.icon.share {
    background-position: -65px -98px;
}

.icon.backup {
    background-position: -98px -99px;
}
