.widgetStatistics {
    width: 100%;
    color: #8d7f70;
    cursor: default;
}

.widgetStatistics-tabs,
.widgetStatistics-largestSize,
.widgetStatistics-actions {
    display: table;
    width: 100%;
}

.widgetStatistics-tabs-item,
.widgetStatistics-largestSize-item,
.widgetStatistics-actions-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.widgetStatistics-tabs {
    height: 46px;
    color: #fdfdfd;
    background-color: transparent;
    text-transform: capitalize;
}

.widgetStatistics-tabs .active {
    color: #8d7f70;
    background-color: #fdfdfd;
}

.widgetStatistics-tabs-item {
    border: 1px solid white;
    border-radius: 5px 5px 0 0;
}

.widgetStatistics-tabs-item-separator {
    width: 1px;
}

.widgetStatistics-chart {
    height: 314px;
    padding-top: 38px;
    background-color: #fdfdfd;
}

.widgetStatistics-chart-caption {
    text-align: center;
    word-spacing: 2px;
    text-transform: uppercase;
}

.widgetStatistics-largestSize {
    height: 87px;
    background-color: #f4eeea;
}

.widgetStatistics-largestSize-item {
    width: 33%;
    border-right: 1px solid #fdfdfd;
    border-left: 1px solid #fdfdfd;
    position: relative;
    font-size: 29px;
}

.widgetStatistics-largestSize-item-title {
    font-size: 16px;
    color: #9f9a95;
    margin-bottom: 3px;
    margin-top: -2px;
}

.widgetStatistics-largestSize-item-led {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    background-color: #4cae7a;
}

.widgetStatistics-largestSize-item + .widgetStatistics-largestSize-item .widgetStatistics-largestSize-item-led {
    background-color: #e35d3a;
}

.widgetStatistics-largestSize-item + .widgetStatistics-largestSize-item + .widgetStatistics-largestSize-item .widgetStatistics-largestSize-item-led {
    background-color: #e9c65d;
}

.widgetStatistics-largestSize-item:first-child,
.widgetStatistics-largestSize-item:last-child {
    border: none;
}

.widgetStatistics-actions {
    height: 79px;
    color: #fdfdfd;
    font-size: 11px;
    text-transform: uppercase;
    background-color: #766a5d;
    border-radius: 5px;
}

.widgetStatistics-actions-item {
    width: 33%;
}

.widgetStatistics-actions-item.longText {
    font-size: 10px;
}
.widgetStatistics-actions-item:hover {
    background-color: #63574b;
}

.icon {
    background-image: url(../../../common/sprite/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.icon.upload {
    background-position: -74px -73px;;
}

.icon.share {
    background-position: -110px -72px;
}

.icon.backup {
    background-position: -145px -73px;;
}

#chartdiv {
    width: 100%;
    height: 270px;
    margin-top: 19px;
}