.widgetStatistics {
    width: 100%;
}

.widgetStatistics-tabs,
.widgetStatistics-largestSize,
.widgetStatistics-actions {
    display: table;
    width: 100%;
}

.widgetStatistics-tabs-item,
.widgetStatistics-largestSize-item,
.widgetStatistics-actions-item {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.widgetStatistics-tabs {
    height: 45px;
    background-color: #fdfdfd;
}

.widgetStatistics-tabs-item {

}

.widgetStatistics-chart {
    height: 351px;
    background-color: #fdfdfd;
}

.widgetStatistics-largestSize {
    height: 87px;
    background-color: #f4eeea;
}

.widgetStatistics-largestSize-item {
    width: 33%;
    border-right: 1px solid #fdfdfd;
    border-left: 1px solid #fdfdfd;
    position: relative;
}

.widgetStatistics-largestSize-item-led {
    width: 100%;
    height: 4px;
    position: absolute;
    top: 0;
    background-color: #4cae7a;
}

.widgetStatistics-largestSize-item + .widgetStatistics-largestSize-item .widgetStatistics-largestSize-item-led {
    background-color: #e35d3a;
}

.widgetStatistics-largestSize-item + .widgetStatistics-largestSize-item + .widgetStatistics-largestSize-item .widgetStatistics-largestSize-item-led {
    background-color: #e9c65d;
}

.widgetStatistics-largestSize-item:first-child,
.widgetStatistics-largestSize-item:last-child {
    border: none;
}

.widgetStatistics-actions {
    height: 80px;
    color: #fdfdfd;
    background-color: #766a5d;
}

.widgetStatistics-actions-item {
    width: 33%;
}

.widgetStatistics-actions-item:hover {
    background-color: #63574b;
}

#chartdiv {
    width: 100%;
    height: 270px;
    margin-top: 54px;
}