@import url("../../../common/css/reset.css");
@import url("../../../common/css/common.css");
@import url("../../../common/css/fonts.css");
body{
	background-color: lightgrey;
}
#ribbons__wrapper{
	width: 67px;
	height: 74px;
	background-color: #ffffff;
	border-radius: 4px;	
}
.ribbons__hotspot{
	width: 20px;
	height: 50px;
	background: linear-gradient(to right, #4daf7c, #6DCF80, #4daf7c);
	position: absolute;
	left:0;
	animation: mymove 5s linear infinite;  
	-webkit-animation: mymove 5s linear infinite;  
}
.ribbons__flag {
	width: 59px;
	height: 50px;
	position: relative;
	background-color: #4daf7c;
	text-transform: uppercase;
	top: 13px;
	right: -6px;
	border-right: 5px solid #66ba8f;
	overflow: hidden;
	animation: mymove2 5s linear infinite;  
	-webkit-animation: mymove2 5s linear infinite;  
}
.ribbons__flag:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 25px solid transparent;
	border-left: 8px solid white;
	border-top: 25px solid transparent;
}
.ribbons__flag_content{
	width: 50px;
	height: 30px;
	margin-left: 16px;
	margin-top: 9px;
	position: absolute;
	text-align: left;
}
.ribbons__flag_contentText{
	font-size: 12px;
	margin-top: 4px;
	margin-left: 2px;
	color: #b4ebd2;
	background-color: transporent;
}
.ribbons__flag_contentPercent{
	font-size: 17.15px;
	margin-top: -2px;
	color: #ffffff;
}
.ribbons__ref{
	display: block;
	cursor: pointer;
	text-decoration: none;
}
@keyframes mymove {
    0% {left: 0px;}
	90%{left: 55px;}
	100% {left: 61px;}
}
@-webkit-keyframes{
    0% {left: 0px;}
	90%{left: 55px;}
	100% {left: 61px;}
}
@keyframes mymove2 {
    0% {top: 13px;}
	25% {top: 23px;}
	50% {top: 13px;}
	75% {top: 0px; border-right: 5px solid #4daf7c;}
	100% {top: 13px;}
}
@-webkit-keyframesmymove2 {
    0% {top: 13px;}
	25% {top: 23px;}
	50% {top: 13px;}
	75% {top: 0px; border-right: 5px solid #4daf7c;}
	100% {top: 13px;}
}