@import url(../../../common/css/fonts.css);
#graphic__wrapper{
	width: 283px;
	height: 436px;
	border-radius: 6px;
}
.graphic__capitel{
	font-variant: small-caps;
	display: inline;
}
.graphic__top{
	width: 283px;
	height: 151px;
	background-image: url(../images/graphic-background.png);
}
.graphic__top_arrowWrapper{
	height: 50px;
	float: left;
	padding-top: 34px;
	padding-left: 18px;
}
.graphic__top_arrow{
	width: 0;
	height: 0;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 5px solid white;
	float: left;
}
.graphic__top_numbers{
	color: white;
	font-size: 24px;
	line-height: 20px;
	padding-top: 20px;
	padding-left: 30px;
}
.graphic__top_numbersLittle{
	font-size: 14px;
	color: #9ED9B1;
}
.graphic__content{
	width: 263px;
	height: 254px;
	padding-top: 30px;
	padding-left: 20px;
	background-color: #ffffff;
	border-radius: 6px;
}
.graphic__content_data{
	color: #8e8071;
	margin-bottom: 20px;
}
.graphic__content_dataTime{
	font-size: 12px;
	color: #BAB2A9;
	display: inline;
}
.graphic__content_dataCity{
	font-size: 19px;
}

.graphic__content_dataRectangle{
	width: 120px;
	height: 68px;
	background-color: #f6f0ec;
	border-radius: 3px;
	float: left;
	margin-right: 2px;
}
.graphic__content_dataRectangle-textWrapper{
	width: 100px;
	height: 40px;
	margin: 20px auto 0 auto;
	text-transform: uppercase;
	font-size: 18px;
	text-align: center;
	color: #897869;
	line-height: 80%;
}
.graphic__content_dataRectangle-text {
	font-size: 12px;
	text-transform: none;
	color: #A79583;
}
.graphic__content_stockGroupA{
	width: 135px;
	height: 65px;
	float: left;
	margin-right: 12px;
	margin-top: 25px;
	
}
.graphic__content_stockGroupB{
	width: 95px;
	height: 65px;
	float: left;
	margin-top: 25px;
	position: relative;
}
.graphic__content_stockColumn{
	width: 9px;
	height: 40px;
	float: left;
	margin-right: 6px;
	background-color: #f6f0ec;
	position: relative;
}

.graphic__content_stockColumn-red{
	width: 9px;
	position: absolute;
	bottom: 0;
	background-color: #e55f3b;
}
.graphic__content_stockColumn-green{
	width: 9px;
	position: absolute;
	bottom: 0;
	background-color: #4daf7b;
}
.graphic__content_stockColumn1{
	height: 16px;
}
.graphic__content_stockColumn2{
	height: 20px;
}
.graphic__content_stockColumn3{
	height: 30px;
}
.graphic__content_stockColumn4{
	height: 35px;
}
.graphic__content_stockColumn5{
	height: 15px;
}
.graphic__content_stockColumn6{
	height: 32px;
}
.graphic__content_stockColumn7{
	height: 20px;
}
.graphic__content_stockColumn8{
	height: 7px;
}
.graphic__content_stockColumn9{
	height: 12px;
}
.graphic__content_stockHeader{
	font-size: 14px;
	color: #A8A197;
	margin-bottom: 8px;
	padding-top: 3px;
}
.graphic__content_stockRectangle{
	width: 95px;
	height: 42px;
	background-color: #4daf7b;
	border-radius: 3px;
	color: #ffffff;
	display: table-cell;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;	
}

