@import url("../../../common/css/reset.css");
@import url("../../../common/css/common.css");
@import url("../../../common/css/fonts.css");

body{
	background-color:#333;
}

.menu{
  	height: 65px;
  	width: 631px;
  	background-color: #f6f0ec;
 	border-radius:4px;
 	overflow:hidden;
}

.menu__leftPart{
	height: 65px;
	width: 315px;
	float:left;
}

.menu__RightPart{
	height: 65px;
	width: 315px;
	float:right;
}

.menu__link{
	display:block;
  	width:157px;
  	height:65px;
  	background-color: #fff;
  	float:left;
  	margin-left: 1px;
  	line-height:65px;
	text-transform:uppercase;
	color:#8e8071;
	font-size: 17px;
	text-align: center;
	text-decoration: none;
}

.menu__link:nth-child(odd){
  margin-left: 0;
}

.menu__link:hover{
	background-color: #f8f3f0;
	cursor:pointer;
	height:62px;
	border-bottom:3px solid #4daf7b;
}

.menu__link:before{
	content:'';
	display:inline-block;
	height: 32px;
	width: 32px;
	position:relative;
	background: url(../../../common/css/images/spritesheet.png) no-repeat;
}

.menu__link_check-in:before{
	background-position: -95px 0;
	top:11px;
	left:1px;
}

.menu__counter{
	display:inline-block;
	width:13px;
	height:13px;
	border-radius:50%;
	color:#fff;
	font-size: 9px;
	background-color: #e55e3a;
	line-height:13px;
	position:relative;
	top:-14px;
	left:-2px;
}

.menu__link_events:before{
	background-position: 0 -32px;
	top:10px;
	left:-14px;
}

.menu__link_account:before{
	background-position: -32px -32px;
	top:10px;
	left:-8px;
}

.menu__link_settings:before{
	background-position: -63px -32px;
	top:10px;
	left:-10px;
}

/*@media screen and (max-width: 650px) {
.menu{
  	height: 131px;
   	width: 315px;
}

.menu__leftPart{
	float:none;
   	margin-bottom: 1px;
}

.menu__RightPart{
	float:none;
}
} */