.font__open-sans_regular{
	font-family: 'Open Sans Regular', 'Open Sans', Arial, sans-serif;
}

.font__open-sans_bold{
	font-family: 'Open Sans Bold', 'Open Sans', Arial, sans-serif;
}

.font__open-sans_semibold{
	font-family: 'Open Sans SemiBold', 'Open Sans', Arial, sans-serif;
}

.font__myriadpro_bold{
	font-family: 'Myriad Pro Bold', 'Myriad Pro', Myriad, Arial, sans-serif;
}
